// ------------------------------------
// Tamplate used default colors
// ------------------------------------
$bgr1: #ffffff;

$c1: #111;
$c2: #77777a;
$c3: #aaa;

$ca1: #1fde91;
$ca2: #0bbcd6;

$cStroke: rgba(100,100,100,.2);

// ------------------------------------
// custom colors
// ------------------------------------

$white: 		#FAFAFA;
$lightgray: 	#E5E3E2;
$gray: 			#E5E3E2;
$mediumgray: 	#929496;
$darkgray: 		#797E89;
$bluegray: 		#B1BECD;

$lightrosa: 	#FFDEDE;
$rosa: 			#FFC9C8;




